body {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: #37527d;

    width: 85%;
    margin: 0 auto;
}

                        /*H e a d e r*/
.header {
    /*display: flex;*/
    position: relative;
}
button {
    /*display: inline-block;*/
    background: transparent;
    border: none;

    margin: 20px 35px;
    padding: 15px;

    font-size: 20px;
    color: #37527d;

    background: linear-gradient(to top, #99a3ad29, #ffe5d345);
}
button:hover {
    border-bottom: 3px solid #FEDCBA;
    cursor: pointer;
    opacity: 0.9;
}
#theme-button{
    width: 50px;
    height: 50px;

    padding: 0 25px;

    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    background: url("img/day-theme-icon.png") center no-repeat;
    background-position: 0 0;
}
#theme-button:hover {
    border-bottom: 0;
    background-position: -60px 0;
    opacity: 0.8;
}

                        /*Header end*/
                        /*M a i n*/
.main {
    display: flex;
}
.main div {
    flex: 1;
    text-align: center;
}
.main-column {
    margin-left: 25px;
    border: 1px solid #FEDCBA;
}
.main-column.column1 {
    margin-left: 0;
}
.main-column-task {
    padding: 25px;
    margin: 30px 55px;

    background: linear-gradient(to top, #99a3ad42, #ffe5d39c);
}
.main-column-task h3 {
    padding: 10px;
    margin-top: 0;

    background: rgba(255, 255, 255, 0.7);
}
.main-column-task p {
    padding: 5px;
}

                        /*Main end*/
                        /*D a r k - t h e m e*/
.dark-theme h1 {
    color: #ffffff;
}
.dark-theme h2 {
    color: #ffffff;
}
.dark-theme {
    background-color: #37527d;
}
.dark-theme .main-column-task {
    background: linear-gradient(to top, #ffe5d3db, #ffe5d361);
}
.dark-theme button {
    background: linear-gradient(to top, #ffe5d3db, #ffe5d361);
}

.dark-theme #theme-button{
    padding: 0 25px;

    background: transparent;
    background: url("img/night-theme-icon.png") center no-repeat;
    /*background-size: contain;*/
    background-position: -60px 0;
}
.dark-theme #theme-button:hover {
    border-bottom: 0;
    background-position: 0 0;
    opacity: 0.8;
}
                        /*Dark-theme*/